/* TemporalFeaturesTab.css */
.pane {
    flex: 1;

    justify-content: center;
    align-items: center;
    overflow-y: auto;
  }

  .top-pane {
    background-color: #ffffff;
  }

  .middle-pane {
    background-color: #ffffff;
  }

  .bottom-pane {
    background-color: #ffffff;
  }
  .no-information-box {
    background: rgba(183, 28, 28, 0.4);
    padding: 30px;
    border-radius: 5px;
    border: 1px solid #b71d1c;
  }
  
  .data-no-information {
    margin-top: 0;
    padding: 50px 500px;
  }